<!DOCTYPE html>
<html lang="en">
<head>
    <title>Guestbook</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

<div id="title-bar">
    <h1 id="title-text">Guestbook</h1>
</div>

<div class="content">

    <h2>Welcome to Guestbook Please leave your note below !</h2>

    {% for item in notes %}
    <div class="note">
        <span class="label">Name: </span>
        <p id="name">{{ item.getName() }}</p>
        <br>
        <span class="label">Date: </span>
        <p id="date">{{ item.getName() }}</p>
        <br>
        <span class="label">Message: </span>
        <p id="message">{{ item.getMessage() }}</p>
    </div>
    {% endfor %}

    <form id="note-form">
        <fieldset id="note-field-set">
            <label class="form-label">
                Name<br>
                <input class="input-field" type="text" name="name" placeholder="Enter your name" required>
            </label>
            <br>
            <label class="form-label">
                Message
                <textarea class="input-field" name="message" placeholder="Enter your message"></textarea>
            </label>
            <input id="submit-button" type="submit" name="submit" value="Send message">
        </fieldset>
    </form>

</div>


<div id="bottom-bar">
    <p id="copyright">2018 Design and Implementation : Lukasz Pelczar</p>
</div>

</body>
</html>